services:
  web:
    build: .
    volumes:
      - "./:/app"
      - "/app/node_modules"
    ports:
      - "3000:3000"
      - "12345:12345"
    environment:
      DATABASE_URL: 'postgresql://postgres:dummy@db:5433'
      RUBY_DEBUG_PORT: 12345
      RUBY_DEBUG_HOST: 0.0.0.0
      RUBY_DEBUG_NO_RELINE: true
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: 'dummy'
      PGPORT: 5433
    ports:
      - "5433:5433"
  mailcatcher:
    image: sj26/mailcatcher
    ports:
      - "1080:1080"
