services:
  web:
    build: .
    volumes:
      - "./:/app"
    ports:
      - "3000:3000"
      - "12345:12345"
    env_file:
       - '.env.local'
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: 'dummy'
      PGPORT: 5433
    ports:
      - "5433:5433"
