<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Intitulé
                <br>officiel
              </p>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
              <p class="fr-header__service-title">
                Nom du site / service
              </p>
            </a>
            <p class="fr-header__service-tagline">baseline - précisions sur l‘organisation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
