<% content_for(:page_title) { "ACCUEIL" } %>

<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-7">
    <h1>Guide d'utilisation</h1>

    <p class="fr-text--lead">Ce template vous permet de commencer à développer immédiatement avec des outils et des processus déjà mis en place pour vous.</p>

    <p>Librairies applicatives :</p>

    <ul>
      <li><a href="https://rubyonrails.org/">Rails 7</a></li>
      <li><a href="https://www.postgresql.org/">PostgreSQL 15</a></li>
    </ul>

    <p class="spacer"></p> <!-- https://github.com/GouvernementFR/dsfr/issues/582 -->

    <p>Librairies de test :</p>

    <ul>
      <li><a href="https://rspec.info/">RSpec</a></li>
      <li><a href="https://github.com/thoughtbot/factory_bot/">FactoryBot</a></li>
      <li><a href="https://github.com/faker-ruby/faker/">Faker</a></li>
      <li><a href="https://cucumber.io/">Cucumber/Capybara</a></li>
      <li><a href="https://github.com/guard/guard/">Guard</a></li>
    </ul>

    <p class="spacer"></p> <!-- https://github.com/GouvernementFR/dsfr/issues/582 -->

    <p>Librairies d'outillage :</p>

    <ul>
      <li><a href="https://github.com/rubocop/rubocop">Rubocop</a></li>
      <li><a href="https://github.com/rubocop/rubocop-rspec">Rubocop-RSpec</a></li>
      <li><a href="https://github.com/rubocop/rubocop-rails">Rubocop-Rails</a></li>
      <li><a href="https://mailcatcher.me/">Mailcatcher</a></li>
    </ul>

    <p class="spacer"></p> <!-- https://github.com/GouvernementFR/dsfr/issues/582 -->

    <p>Rendez-vous sur la <a href="https://github.com/betagouv/rails-template">page d'accueil du projet</a> pour plus d'informations.</a>
  </div>

  <div class="fr-col-md-6">
  </div>
</div>
