<div class="fr-grid-row">
  <div class="fr-col-8">
    <h1>Non igitur bene.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Dat enim intervalla et relaxat. Idem adhuc; Eaedem res maneant alio modo. Quod cum dixissent, ille contra. </p>

    <h2>Quis istud, quaeso, nesciebat?</h2>

    <p>Quam si explicavisset, non tam haesitaret. Refert tamen, quo modo. An hoc usque quaque, aliter in vita? Videamus animi partes, quarum est conspectus illustrior; <b>Ita nemo beato beatior.</b> <a href="http://loripsum.net/" target="_blank">Quid ergo hoc loco intellegit honestum?</a> </p>

    <p>A mene tu? An tu me de L. Iam in altera philosophiae parte. Videsne quam sit magna dissensio? <b>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam.</b> Bonum valitudo: miser morbus. Suo genere perveniant ad extremum; Quid, quod res alia tota est? </p>

    <ol>
      <li>Sed ut iis bonis erigimur, quae expectamus, sic laetamur iis, quae recordamur.</li>
      <li>Sed ad haec, nisi molestum est, habeo quae velim.</li>
      <li>Ad corpus diceres pertinere-, sed ea, quae dixi, ad corpusne refers?</li>
      <li>Scisse enim te quis coarguere possit?</li>
      <li>Sed haec ab Antiocho, familiari nostro, dicuntur multo melius et fortius, quam a Stasea dicebantur.</li>
      <li>Amicitiae vero locus ubi esse potest aut quis amicus esse cuiquam, quem non ipsum amet propter ipsum?</li>
    </ol>


    <blockquote cite="http://loripsum.net">
      Iudicia rerum in sensibus ponit, quibus si semel aliquid falsi pro vero probatum sit, sublatum esse omne iudicium veri et falsi putat.
    </blockquote>
  </div>
</div>
